@model MorningStarSupply.Models.Mercadoria

@{
    ViewData["Title"] = "Delete";
}

<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.NumeroRegistro)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.NumeroRegistro)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Fabricante)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Fabricante)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger m-2" /> 
                            <a class="btn btn-primary btn-sm" asp-action="List">Voltar</a>
                            
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class=" p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');

        height: 24rem;
        border-radius:5px;

        ">
                </div>
            </div>
        </div>
    </div>
</section>


